:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none !important;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 



/* :root {
  --text-color: rgba(255, 255, 255, 0.87);
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --button-bg-color: #f9f9f9;
  --button-hover-border-color: #646cff;
  --background-color-light: #ffffff;
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-size-base: 1rem; 
  --font-size-large: 2rem; 
  --spacing-base: 1rem;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  overflow-y: auto;
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color-dark); 
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

h1 {
  font-size: var(--font-size-large);
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: var(--spacing-base);
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--button-bg-color);
}

button:hover {
  border-color: var(--button-hover-border-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (max-width: 768px) {
  h1 {
    font-size: calc(var(--font-size-base) + 1.2vw);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: rgba(0, 0, 0, 0.87);
    --background-color: var(--background-color-light);
    --link-hover-color: #747bff;
    --button-bg-color: #e6e6e6;
  }
  body {
    background-color: var(--background-color-light);
  }
}

input, select, textarea, button {
  font-family: inherit;
  color: inherit;
  
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
select, 
textarea {
  padding: var(--spacing-base);
  margin-bottom: var(--spacing-base);
  border: 1px solid #ccc;
  border-radius: var(--spacing-base);
}

@media (prefers-color-scheme: light) {
  body {
    color: #000; 
  }
  a, button {
    color: #0056b3; 
  }
} */
